body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.frontpage {
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
  margin-bottom: 40%;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

a {
  text-decoration: none;
}

.logo {
  padding-left: 5%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  width: 100%;
}

.bar {
  width: 21px;
  height: 3px;
  background-color: #6070ff;
  margin-bottom: 18%;
}

.navigation {
  display: flex;
  align-items: center;
}

.hamburgermenu {
  margin-left: auto;
  padding-right: 6%;
}

.main {
  padding: 20% 5%;
}

.heading1 {
  width: 80%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 0;
}

form button {
  width: 40%;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #6070ff;
  border-radius: 8px;
  border: none;
}

.paragraph {
  margin-top: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

.letsconnect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 0;
  color: #7f8cff;
}

.footericons {
  margin-top: 0;
  padding-bottom: 0;
  display: flex;
  gap: 5%;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.footericons2 {
  margin-top: 0;
  padding-bottom: 0;
  display: flex;
  gap: 5%;
  align-items: center;
  list-style: none;
}

/* projects */

.img1 {
  display: flex;
  justify-content: center;
}

.projectscards {
  margin-top: 20% a;
  display: grid;
  row-gap: 88px;
  width: 85%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

.projectstext {
  width: 90%;
  margin: auto;
}

.qualities {
  list-style-type: none;
  display: flex;
  gap: 3%;
  justify-content: flex-start;
  margin-right: auto;
  padding-left: 0;
  margin-left: 0;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
}

.imgA {
  width: 90%;
}

.project h2 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project {
  border: 1px solid #dfe1e6;
  padding-top: 5%;
  border-radius: 16px;
  background-color: #fff;
}

.languages li {
  background-color: #ebebff;
  color: #6070ff;
  padding: 1%;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.abtme ul li {
  margin-bottom: 3%;
}

form input :nth-child(1) {
  padding-top: 0;
  margin-top: 0;
}

.qualities :nth-child(5) {
  color: #7a869a;
}

.qualities li:nth-child(3) {
  color: #7a869a;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 5%;
  width: 50%;
  margin-bottom: 20%;
  border-radius: 8px;
  border: 1px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
}

.getresumebutton {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 4%;
  width: 50%;
  margin-bottom: 10%;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #6070ff;
  color: #6070ff;
}

.getresumebutton:hover {
  background-color: #6070ff;
}

.getresumebutton:active {
  background-color: #2230d2;
  color: #fff;
}

.abtme {
  padding: 20% 5%;
  border-top-right-radius: 60px;
  background-color: #fff;
}

.lans {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.lans :nth-child(2) {
  margin-left: 4%;
}

.lans :first-child {
  padding-left: 0;
}

.abtme ul {
  margin-left: 0;
  padding-left: 0;
}

.abtme h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: min-content;
}

.frames {
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  align-items: center;
}

.frames :nth-child(2) {
  margin-left: auto;
  margin-right: 9%;
}

.frames :nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lanitems {
  display: flex;
}

.lanitem {
  display: flex;
  align-items: center;
}

.lanitem :nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lanitem :nth-child(2) {
  margin-left: auto;
  margin-right: 9%;
}

.languages {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 1.5%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.abtme p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 0;
  margin-right: 0;
}

/* form */

.contactme {
  padding-top: 10%;
  background-image: url(./images/aboutusimages/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-color: #6070ff;
  padding-bottom: 10%;
  border-top-left-radius: 60px;
  background-size: 100%;
  background-position: 10% 10%;
}

.contactme h2 {
  color: #ebebff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 53px;
}

.contactme p {
  color: #ebebff;
  width: 81%;
  margin: 0 auto 30% auto;
  text-align: center;
}

form {
  display: grid;
  gap: 18px;
  width: 85%;
  margin: 8% auto 0 auto;
}

textarea {
  height: 170px;
  border-radius: 8px;
  border: none;
  text-align: top;
}

.input {
  height: 48px;
  border-radius: 8px;
  border: none;
}

/* desktopview */

@media (min-width: 768px) {
  .logo {
    transition: all 2s;
    animation: slidein 2s;
    margin-left: 200%;
  }

  .logo:hover {
    transform: rotate(360deg);
  }

  .imgAA:hover {
    transform: scale(1.1);
    transition-delay: 300ms;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .nav {
    transition: all 4s;
    animation: cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .footericons {
    gap: 1%;
  }

  .frontpage ul {
    gap: 3%;
  }

  .pro2 {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 2%;
    padding-bottom: 3%;
  }

  form button {
    margin: auto;
    width: 12%;
  }

  .button {
    width: 15%;
    padding: 2%;
    margin-top: 5%;
  }

  .project .button {
    width: 25%;
    padding: 2%;
  }

  .pro2 button {
    width: 30%;
    padding: 4%;
  }

  .projectcards :nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  .skillsetTT img {
    object-fit: cover;
  }

  .skillsetDT {
    margin-left: 3%;
  }

  .specs {
    display: flex;
    gap: 4%;
  }

  .textitems {
    width: 50%;
  }

  .skillsPack {
    display: none;
  }

  .getresumebutton {
    width: 20%;
    padding: 2%;
  }

  .abtme {
    display: flex;
  }

  .abtme p {
    padding-right: 0;
  }

  .img1 {
    float: left;
    margin-left: 4%;
    margin-right: 3%;
  }

  .project {
    max-height: auto;
    padding-left: 2%;
    padding-bottom: 3%;
    display: flex;
  }

  .Dtnav a {
    color: #344563;
  }

  .Dtnav {
    color: #344563;
    display: flex;
    list-style-type: none;
    margin: 0 10% 0 auto;
  }

  .frontpage {
    margin-bottom: 14%;
    background-color: #fff;
    background-image: url(./images/Header\ bg@2x.png);
    background-position: 20%;
  }

  .heading1 {
    width: 45%;
    text-align: left;
  }

  .paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .main {
    margin: auto;
    width: 50%;
  }

  .hamburgermenu {
    display: none;
  }

  .imgA {
    display: none;
  }

  .contactme {
    background-image: url(./images/contact\ form\ background\ shapes@2x.png);
    background-size: 90%;
  }

  .contactme p {
    width: 30%;
    margin-bottom: 0;
  }

  form textarea {
    width: 40%;
    margin: auto;
    border-radius: 0;
  }

  .input {
    width: 40%;
    margin: 0 auto;
    padding-top: 0;
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  .skillsetDT {
    display: none;
  }

  .specs {
    display: none;
  }

  .Dtnav {
    display: none;
  }

  .imgAA {
    display: none;
  }
}

/*
add animation and transition for the portfolio project
transform:scale(102%);
*/
