body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -160%;
}

a {
  text-decoration: none;
}

.logo {
  padding-left: 5%;
}

.bar {
  width: 21px;
  height: 3px;
  background-color: #6070ff;
  margin-bottom: 18%;
}

.navigation {
  display: flex;
  align-items: center;
}

.hamburgermenu {
  margin-left: auto;
  padding-right: 5%;
}

.main {
  padding: 20% 5%;
}

.heading1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
  text-align: left;
}

.letsconnect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.footericons1 {
  display: flex;
  gap: 5%;
  align-items: center;
    ma
}
